body {
    padding: 0;
    margin: 0;
    background-color: rgb(79, 54, 21);
}

.wrapper {
    display: flex;
    align-items: start;
    justify-content: center;
}
.header{
    border-bottom: 2px bisque solid;
    height: 3rem;
}
#home{
    color: blanchedalmond;
    text-decoration: none;
    font-size: large;
}
.box {
    display: grid;
    align-items: center;
    justify-content: center;
    height: 20em;
    width: 20em;
    border: 5px solid rgb(227, 201, 129);
    background-color: blanchedalmond;
    padding: 20px;
    margin-top: 2rem;
    border-radius: 20px;
}

.photo {
    border-radius: 100%;
    border: 1px black solid;
    width: 6em;
    height: auto;
    margin-top: 2px;
    align-items: center;
    margin-right: 7rem;
}

.info {
    text-align: center;
}