body {
    padding: 0;
    margin: 0;
}

.wrapper {
    display: flex;
    align-items: start;
    justify-content: center;
}

.box {
    display: grid;
    align-items: center;
    justify-content: center;
    height: 20em;
    width: 20em;
    border: 5px solid rgb(227, 201, 129);
    background-color: blanchedalmond;
    padding: 20px;
    margin-top: 2rem;
}

.photo {
    border-radius: 100%;
    border: 1px black solid;
    width: 6em;
    height: auto;
    margin-top: 2px;
    align-items: center;
    margin-right: 7rem;
}

.info {
    text-align: center;
}