@font-face {
    font-family: americaFonts;
    src: url(/fonts/UNITED\ AMERICA.otf) format("opentype");
}

header {
    background-color: rgb(79, 53, 5);

}

section {
    background-color: rgba(215, 189, 239, 0.573);
}

#home {
    color: bisque;
}

.lutos {
    width: 200px;
    height: auto;
}

.banner {
    font-family: americaFonts;
    font-size: 80px;
}

section {
    font-size: 2px;
}

.welcome {
    background-color: rgb(145, 222, 246);
    font-size: 30em;
    height: 5vh;
}

.lutos:hover {
    scale: 1.5;
}

.text1 {
    width: 50vw;
}

main>img {
    width: 200px;
    height: auto;
}

li:not(.yoga) {
    color: blueviolet;
}

ul {
    background-color: rgba(240, 176, 213, 0.915);
}

img[src="/images/warrior.png"]:hover {
    scale: 2;
}

#style {
    background-color: rgb(79, 130, 159);
    height: 50px;
    font-size: 30px;
    margin-bottom: 2px;
    padding: 20px;
    border: 3px skyblue solid;
}

.box {
    background-color: rgb(255, 255, 255);
    font-size: 10em;
    border: 3px skyblue solid;
}

.first {
    background-color: rgb(203, 0, 162);
    width: 500px;
    margin-bottom: 1rem;
    padding: 10px;
    border-bottom: 3px rgb(189, 189, 16) solid;
    border-radius: 50px;

}

.second {
    background-color: rgb(225, 203, 77);
    width: 500px;
    padding: 10px;
    border-bottom: 3px rgb(203, 0, 162) solid;
    border-radius: 50px;



}

body {
    background-image: url(/images/decorative-background-international-yoga-day_1048-20156.avif);
    background-size: cover;
    background-attachment: fixed;
}