@font-face {
    font-family: vazirMatn;
    src: url(/fonts/Vazir.woff) format(woff);
}

* {
    padding: 0;
    margin: 0;
    border-bottom: 0;
}

header {
    background-color: rgba(56, 135, 205, 0.877);
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-right: 1rem;
}

table {
    border-collapse: collapse;
    margin-top: 50px;
    caption-side: bottom;
    font-family: vazirMatn;
    /* box-shadow: 0 0 10px grey; */
}

table,
td,
th,
tr {
    border: 1px solid rgb(237, 232, 232);
    padding: 15px 100px;

}

.thead {
    background-color: rgba(56, 135, 205, 0.877);
    font-weight: bold;
    color: azure;
}

caption {
    background-color: rgb(212, 181, 240);
    padding: 10px 0;
    font-size: larger;
    letter-spacing: 5px;
}

.box {
    margin-right: 30rem;

}